.vertex {
  cursor: pointer;
  stroke: white;
  stroke-width: 1.5px;

  &[sex='male'] {
    fill: '#588BAE';
  }
  &[sex='female'] {
    fill: '#FE7F9D';
  }

  &[friend='selected'],
  &[friend='connected'],
  &[friend='default'] {
      opacity: 1;
  }

  &[friend='unknown'] {
      opacity: 0.45;
  }
}

.vertexHeader {
  font-size: 0.6rem;
  transition: font-size 400ms;
  opacity: 0.45;

  &[selected] {
      font-size: 1rem;
      font-weight: bolder;
      opacity: 1;
  }

  &[connected] {
      font-size: 0.7rem;
      font-weight: bolder;
      opacity: 0.65;
  }

  &[connected-active] {
      transform: translateY(-10px) translateX(-15px);
      font-size: 1rem;
      font-weight: bolder;
      opacity: 1;
      fill: white;
      stroke: black;
      stroke-width: 1;
      stroke-opacity: 0.75;
      stroke-linecap: round;
  }
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                            supported by Chrome, Edge, Opera and Firefox */
}