.vertex {
  cursor: pointer;
}
.text {
  font-size: .6rem;
  transition: font-size 400ms;

  &[selected] {
    font-size: 1rem;
    font-weight: bolder;
  }
  &[edge-hovered] {
    font-size: 1.3rem;
    font-weight: bolder;
  }
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
