@import 'keyframes';
@import 'mixins';

.baseLayout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  > main {
    max-height: calc(100% - 4rem);
    flex: 1;
  }
  > header {
    z-index: 2;
  }
  > nav {
    position: absolute;
    top: 4rem;
    left: 0;
    bottom: 0;
    width: 20rem;
    z-index: 1;

    &[data-open='yes'] {
      @include animate(slideRight, 0.9s);
    }
    &[data-open='no'] {
      @include animate(slideLeft, 0.9s);
    }
  }

  .infoWindowWrapper {
    position: absolute;
    right: 1rem;
    top: 5rem;
  }
}
