@import 'variables';

.removeFriend {
  .contentWrapper {
    margin: 2rem -1rem 1rem -1rem;
  }
  .btnArea {
    margin: -2rem;
    margin-top: 1rem; 
    height: 3rem;
    display: flex;
    flex-direction: row;

    button[disabled] {
      background-color: darken($primary-color, 5%);
    }
  }
  .friendListWrapper {
    background: linear-gradient(30deg, #7d441c, #e3aa82);
    margin: -1rem;
    & > div > div:last-of-type {
      max-height: 300px;
      overflow: auto;
      padding-bottom:1rem;
    }
  }
}
