.zoomController {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    width: 5rem;
    height:2rem;
    column-gap: .5rem;
    > button {
        padding: 0;
    }
}