.controller {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: .5rem 1rem 0 1rem;
    > div {
        flex: 1;
    }
}

.info {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    color: white;
    text-shadow: -1px 1px 3px #000000c2;
    margin-top: 1rem;
    width: 100%;
}