@import 'mixins';
@import 'keyframes';

.main {
    position: relative;
    height: 100%;
    overflow: hidden;
    &:not(.withoutMountingAnimation) {
        @include animate(opacityInDelayed, 1.4s);
    }

    .controlsWrapper {
        position: absolute;
        bottom: .5rem;
        right: 1rem;
    }
}