@import 'mixins';
@import 'keyframes';
@import 'variables';

.header {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    background: linear-gradient(45deg, darken($primary-color, 20%), $primary-color);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);

    .logo {
        display: flex;
        align-items: center;
        h1,
        h3 {
            color: white;
            display: flex;
            align-items: center;
        }

        h3 {
            padding: 0 .2rem;
            font-size: 0.5rem;
            display: flex;
            height: 1rem;
            margin-top: 2rem;
        }

        h1 {
            padding-left: 1rem;
        }
    }

    .btnWrapper {
        width: 3rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            font-size: 1.5rem;
            color: white;
        }
    }

    @include animate(slideDown, 0.4s);
}
