.editConnections {
    .formWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
        margin: 1rem 0;
    }

    .btnArea {
        margin: -1.5rem;
        margin-top: 1rem;
        height: 3rem;
        display: flex;
        flex-direction: row;
    }
}
